<%-include ../partials/header.ejs %>
<%-include ../partials/main_nav.ejs %>
<!--Main content for displaying my database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Make</th>
                    <th class="text-center col-2">Model</th>
                    <th class="text-center col-1">Year</th>
                    <th class="text-center col-2">Mileage</th>
                    <th class="text-center col-2">Price</th>
                </tr>
                <!--for/while loop-->
                <% for(let count=0; count<CarList.length;count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= CarList[count].make %></td>
                        <td class="text-center col-2"><%= CarList[count].model %></td>
                        <td class="text-center col-1"><%= CarList[count].year %></td>
                        <td class="text-center col-2"><%= CarList[count].mileage %></td>
                        <td class="text-center col-2"><%= CarList[count].price %></td>
                    </tr>
                <% } %>
            </table>

            <a href="/cars/add">Add A Car</a><br>
            <a href="/cars/edit">Edit A Car</a><br>
            <a href="/cars/delete">Delete A Car</a>

        </div>
    </div>
</main>
<%-include ../partials/footer.ejs %>